<app-card title="Login">
  <div card-body>
    <form action="" [formGroup]="form" (submit)="login()" ids>

      <app-form-input
        label="Email"
        placeholder="Email"
        formControlName="email"
      ></app-form-input>

      <app-form-input
        label="Password"
        type="password"
        placeholder="Password"
        formControlName="password"
      ></app-form-input>

      <app-button label="{{(status() | isLoading) ? 'Iniciando...' : 'Login'}}"></app-button>

      <p>Don't have an account? <a [routerLink]="['/auth/register']">Sign up here.</a></p>

    </form>
  </div>
</app-card>
