.form-group{
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  vertical-align: middle;

  /* padding: 8px; */
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid var(--text-secondary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  border-color: #333;
  background-color: var(--primary-button);
}

input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
}
