:root {
  --background: #F5F4F7;
  --surface: #ffffff;
  --text: #333333;
  --text-secondary: #B8B8B8;
  --text-secondary-25: #b8b8b840;

  --primary-button: #000000;
  --primary-text-button: #ffffff;
}
