<div class="page">
  <div class="sidebar">
    <div class="options">
      <h5>Main Menu</h5>
      <ul>
        @for (sidebar of sidebarItems; track $index) {
          <li routerLinkActive="active" routerLink="{{sidebar.route}}" (click)="title.set(sidebar.title)">
            <lucide-angular [img]="sidebar.icon | icon" class="icon"></lucide-angular>
            {{sidebar.title}}
          </li>
        }
      </ul>
    </div>
    <div class="settings">
      <a><lucide-angular [img]="'SettingsIcon' | icon" class="icon"></lucide-angular>
        Settings
      </a>
      <a [routerLink]="['/auth/login']"><lucide-angular
        [img]="'LogInIcon' | icon" class="icon"></lucide-angular>
        Log in
      </a>
    </div>
  </div>
  <div class="no-sidebar">
    <div class="navbar">
      <h1>{{title()}}</h1>
    </div>
    <div class="component">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
