@if (statusAccount() | isLoading){
  <app-loading-component></app-loading-component>
} @else {
  <app-card
    [title]="account()!.title"
  >
    <div card-body>
      <p>{{account()!.description}}</p>
      <div class="align-end">
        <p>{{account()!.createdAt}}</p>
      </div>
    </div>
  </app-card>

  <app-card title="Users">

    <div card-header>

    </div>

    <div card-body>

      <app-combo-box-component
        [options]="membersOptions()"
      ></app-combo-box-component>

    </div>

  </app-card>
}

