@if(isLoading()){

  <app-loading-component></app-loading-component>

}@else {
  <app-card [title]="account()?.title ?? ''">
    <div card-header>
      <p>{{account()?.createdAt | dateFormat}}</p>
    </div>
    <div card-body>
      <p>{{account()?.description ?? ''}}</p>
      <p>{{account()?.createdAt | dateFormat}}</p>
      <div class="align-end">
        <app-amount-component
          [amount]="account()?.amount"
        ></app-amount-component>
      </div>
    </div>
  </app-card>

  <app-card title="History">
    <div card-header>
      <app-button
        label="New"
        (click)="openModal()"
      ></app-button>
    </div>
    <div card-body>

    </div>
  </app-card>


  <app-modal-history-component
    [accountId]="account()!.id"
    (onNewHistory)="onNewHistory($event)"
  ></app-modal-history-component>

}
