<app-horizontal-modal-component
  title="Nuevo movimiento"
>
  <div modal-body>
    <form action="" [formGroup]="form" (submit)="save()">
      <app-form-input
        label="Amount"
        placeholder="Amount"
        type="number"
        formControlName="amount"
      ></app-form-input>
      <app-form-input
        label="Date"
        placeholder="Date"
        formControlName="date"
      ></app-form-input>
      <app-combo-box-component
        title="Usuarios"
        [options]="getComboBoxComponent()"
        (idSelected)="onSelectedMemberId($event)"
      >
      </app-combo-box-component>
      <app-table
        [options]="options"
        [table]="table()"
        messageEmpty="No hay usuarios agregados"
      ></app-table>
      <app-form-input
        type="text-area"
        label="Description"
        placeholder="Description"
        formControlName="description"
      ></app-form-input>
      <app-button
        type="submit"
        label="Save"
      >
      </app-button>
    </form>
  </div>
</app-horizontal-modal-component>
