@if(table.body.length > 0){
  <table>
    <!-- <caption>Title table</caption> -->
    <thead>
      <tr>
        @for (header of getHeader(); track $index) {
          <th>{{header}}</th>
        }
        @if(options.length > 0){
          <th>Options</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (body of getBody(); track $index) {
        <tr>
          @for (item of body; track $index) {
            <td>{{item}}</td>
          }
          @if(options.length > 0){
            <td>
              <app-dropdown-button-component
                icon="EllipsisVertical"
                [id]="getId(table.body[$index])"
                [options]="options"
              ></app-dropdown-button-component>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}
@else{
  <div class="empty-data">
    <lucide-angular [img]="XIcon" [size]="45" class="empty-icon"></lucide-angular>
    <h1>No hay datos para mostrar</h1>
  </div>
}
