table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

table thead tr th{
  padding-block: 18px;
  color: var(--text-secondary);
  text-align: start;
}


th, td{
  border-bottom: 1px solid var(--text-secondary-25);
  padding: 8px;
}
