table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

table thead tr th{
  padding-block: 18px;
  color: var(--text-secondary);
  text-align: start;
}


th, td{
  border-bottom: 1px solid var(--text-secondary-25);
  padding: 8px;
}

.empty-data{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding-block: 18px;
}

.empty-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
