.dropdown{
  position: relative;
}

.dropdown-content{
  top: 39px;
  left: 22px;
  position: absolute;
  z-index: 1;
  background-color: var(--surface);
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--text-secondary);
}

button{
  width: 100%;
  padding-block: 8px;
}
