.dropdown{
  position: relative;
  margin: auto;
}

.dropdown-content{
  top: 39px;
  left: 0px;
  position: absolute;
  z-index: 1;
  background-color: var(--surface);
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--text-secondary);
}

.button-dropdown-content{
  width: 100%;
  padding-block: 8px;
}

.button-dropdown{
  background-color: var(--primary-button);
  color: var(--primary-text-button);
  border-radius: 8px;
  /* padding-inline: 10px;
  padding-block: 8px; */
  padding: 10px;
}
